@model IEnumerable<Assignment>
@{
    ViewData["Title"] = "Home";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">My Assignments</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Assignment" asp-action="Create" class="btn btn-outline-light">
                <i class="bi bi-bookmark-plus"></i> &nbsp; Create New
            </a>
        </div>
    </div>
    </br>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Text
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="15%">
                        @item.Name
                    </td>
                    <td width="71%">
                        @item.Text
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Assignment" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            <p>⠀</p>
                            <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>